colorlog==6.8.0
hydra-colorlog==1.2.0
hydra-core==1.3.2
hyperlink==21.0.0
HyperPyYAML==1.2.2
matplotlib>=3.7.0
numpy>=1.24.0,<2.0.0
opencv-python>=4.9.0.80
soundfile>=0.12.1
sox>=1.4.1
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
tqdm>=4.66.0
wandb>=0.16.0
causal-conv1d>=1.1.0
mamba-ssm>=1.1.0